.EditNote__form {
    text-align: left;
  }
  
  .EditNote__form input,
  .EditNote__form textarea {
    display: block;
    text-align: left;
    margin-top: 5px;
    margin-bottom: 15px;
    /* minus side padding and border */
    width: 500px;
    padding: 10px 10px;
    border: 1px solid #ddd;
  }
  
  .EditNote__form label {
    margin-top: 30px;
  }
  
  .EditNote__buttons {
    text-align: left;
  }
  
  .EditNote__required {
    color: #a51414;
  }
  
  .EditNote__error p {
    color: #a51414;
    margin-bottom: 5px;
  }
